:root {
    /* Background Colors */
    --color-fill-primary: #F7FAFF;
    --color-fill-secondary: #FFFFFF;
    --color-fill-tertiary: #F9FAFB;
    --color-fill-quaternary: #F2F4F7;

    /* Border Color */
    --color-border: #EAECF0;

    /* Text Colors */
    --text-color-primary: #1D2939;
    --text-color-secondary: #373F41;
    --text-color-muted: #98A2B3;
    --text-color-link: #152BEE;

    /* Additional settings */
    --rounded-corners: 10px;
}
